@font-face {
  font-family: Moderat;
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  /* src: url('/fonts/Moderat-Regular.otf') format('opentype'); */

  src: url('/fonts/Moderat-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Moderat Mono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  /* src: url('/fonts/Moderat-Mono-Regular.otf') format('opentype'); */

  src: url('/fonts/Moderat-Mono-Book.woff2') format('woff2');
}
