:root {
  --app-grid: repeat(2, minmax(0, 1fr));
  --app-inner-gutter: theme('spacing.16');
  --app-outer-gutter: theme('spacing.fluid-outer-gutter');
  --app-header-height: 80px;
  --app-vertical-rhythm: theme('spacing.fluid-vertical-rhythm');

  @screen sm {
    --app-grid: repeat(4, minmax(0, 1fr));
  }

  @screen md {
    --app-grid: repeat(12, minmax(0, 1fr));
    --app-inner-gutter: theme('spacing.32');
    --app-header-height: 120px;
  }
}