:root {
  --app-inner-gutter: theme('spacing.16');
  --app-outer-gutter: theme('spacing.fluid-outer-gutter');
  --app-header-height: 80px;
  --app-vertical-rhythm: theme('spacing.fluid-vertical-rhythm');

  @screen md {
    --app-inner-gutter: theme('spacing.32');
    --app-header-height: 120px;
  }
}