
@import './resets.css';
@import './fonts.css';
@import './page.css';
@import './lenis.css';
@import './transitions.css';
@import './type.css';
@import './utils.css';
@import "tailwindcss";

@custom-variant only-hover (@media (hover: hover));

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-offwhite: #e6e3e1;
  --color-offblack: #1c1c1c;
  --color-lavender: #9f9bcc;
  --color-poppy: #fc3232;
  --color-sage: #7a8c52;
  --color-river: #7ba6a1;
  --color-sky: #97c8e8;
  --color-wheat: #cea683;
  --color-cream: #f2e2d3;

  --breakpoint-xs: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1920px;

  --font-sans: 'Moderat', sans-serif;
  --font-mono: 'Moderat Mono', monospace;

  --text-12: 0.75rem;
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-375-20px-1200-35px: clamp(1.25rem, 0.8239rem + 1.8182vw, 2.1875rem); /* 375:20px - 1200:35px */
  --text-1200-35px-1920-50px: clamp(2.1875rem, 0.625rem + 2.0833vw, 3.125rem); /* 1200:35px - 1920:50px */
  --text-375-40px-1920-65px: clamp(2.5rem, 2.1208rem + 1.6181vw, 4.0625rem); /* 375:40px - 1920:65px */
  --text-375-30px-1200-50px: clamp(1.875rem, 1.3068rem + 2.4242vw, 3.125rem); /* 375:30px - 1200:50px */
  --text-1200-50px-1920-70px: clamp(3.125rem, 1.0417rem + 2.7778vw, 4.375rem); /* 1200:50px - 1920:70px */

  --ease-smooth: cubic-bezier(0.4, 0.0, 0.2, 1);
  --ease-in: cubic-bezier(0.4, 0.0, 1, 1);
  --ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
  --ease-natural: cubic-bezier(0.4, 0.0, 0.2, 1);
  --ease-inCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-outCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-inOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-inCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-outCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-inOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-inExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-outExpo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-inOutExpo: cubic-bezier(1, 0, 0, 1);
  --ease-inQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-outQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-inOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-inQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-outQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-inOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-inQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-outQuint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-inOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-inSine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-outSine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-inOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-inBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-outBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@layer theme {
  :root {
    --app-grid: repeat(2, minmax(0, 1fr));
    --app-inner-gutter: --spacing(4);
    --app-outer-gutter: clamp(24px, 18.3662px + 1.5023vw, 40px);
    --app-header-height: 80px;
    --app-vertical-rhythm: clamp(80px, 51.831px + 7.5117vw, 160px);

    @variant sm {
      --app-grid: repeat(4, minmax(0, 1fr));
    }

    @variant md {
      --app-grid: repeat(12, minmax(0, 1fr));
      --app-inner-gutter: --spacing(8);
      --app-header-height: 120px;
    }

    /* Force CSS variables for breakpoints */
    --force-breakpoints: var(--breakpoint-xs) var(--breakpoint-sm) var(--breakpoint-md) var(--breakpoint-lg) var(--breakpoint-xl) var(--breakpoint-2xl) var(--breakpoint-3xl);
  }
}