@layer theme {
  html {
    color: var(--color-black);
    background-color: var(--color-offwhite);
  }

  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    color: var(--color-offwhite);
    background-color: var(--color-offblack);
  }

  .wrapper {
    width: 100%;
    max-width: var(--breakpoint-3xl);
    margin-inline: auto;
    padding-inline: var(--app-outer-gutter);
  }

  .section {
    padding-block: var(--app-vertical-rhythm);
  }
}

.is-storyblok-editor a {
  pointer-events: none;
  user-select: none;
}

.scroll-x {
  scrollbar-width: none; /* for Firefox */
  scroll-snap-type: x mandatory;

  overflow-x: scroll;
  overscroll-behavior-x: contain;

  max-width: 100%;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */

  &::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  @supports (-moz-appearance: none) {
    /*
      Disable in FF due to https://bugzilla.mozilla.org/show_bug.cgi?id=1744289
      using @supports https://stackoverflow.com/a/32455002
    */
    scroll-snap-type: none;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s var(--ease-smooth);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
