@utility wrapper {
  width: 100%;
  max-width: var(--breakpoint-3xl);
  margin-inline: auto;
  padding-inline: var(--app-outer-gutter);
}

@utility section {
  padding-block: var(--app-vertical-rhythm);
}

@utility scroll-x {
  scrollbar-width: none; /* for Firefox */
  scroll-snap-type: x mandatory;
  overflow: auto hidden;
  overscroll-behavior-x: contain;
  max-width: 100%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */

  &::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  @supports (-moz-appearance: none) {
    /*
      Disable in FF due to https://bugzilla.mozilla.org/show_bug.cgi?id=1744289
      using @supports https://stackoverflow.com/a/32455002
    */
    scroll-snap-type: none;
  }
}

@custom-variant cta-hover {
  @media (any-hover: hover) {
    a:hover &,
    button:not(:disabled):hover & {
      @slot;
    }
  }
}

@custom-variant cta-active {
  a:active &,
  button:not(:disabled):active & {
    @slot;
  }
}

@utility text-trim-both {
  text-box-trim: trim-both;
}